@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #888;
    font-family: 'Fredoka One', cursive;
    overflow: hidden;
    cursor: url('https://img.icons8.com/ios-filled/50/888888/plus-math.png'), auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden; 
    white-space: nowrap; 
    border-right: .15em solid whitesmoke; 
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #888;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.stars {
    position: absolute;
    width: 200%;
    height: 200%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    animation: animateStars 60s linear infinite;
    z-index: -1;
}

@keyframes animateStars {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-1000px);
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: whitesmoke; }
}

p {
    text-align: center;
    font-size: 2rem;
    animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
